
<% channel_opt =[
  ['Please Select',''],
  ['sales', 'sales'],
  ['lettings', 'lettings']
]

property_types = {
  'Please Select'=>'',
  'house'=>'house',
  'house - semi-detached'=>'house - semi-detached',
  'semi-detached'=>'semi-detached',
  'apartment'=>'apartment',
  'flat'=>'flat',
  'flat/apartment'=>'flat/apartment',
  'detached'=>'detached',
  'detached house'=>'detached house',
  'terrace'=>'terrace',
  'end of terrace house'=>'end of terrace house',
  'studio'=>'studio',
  'bungalow'=>'bungalow'
}

rooms =
{
  'Please Select'=>'',
  '1'=>'1',
  '2'=>'2',
  '3'=>'3',
  '4'=>'4',
  '5'=>'5',
  '6'=>'6',
  '7'=>'7',
  '8+'=>'8'
}

%>

<div id='home-search-container'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12 searchForm-wrapper'>
        <div class='container-fluid'>
          <div class='row'>
            <div class='col-xs-12 col-sm-offset-1 col-sm-10  col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 col-xl-offset-4 col-xl-4'>
              <h3 class='text-center'>Find your new home</h3>
              <!-- Form --->
              <%= form_tag('/search', method: 'get', id: 'myForm', class: 'form-horizontal') do %>

                <div class='form-group'>
                  <%= label_tag(:channel, "Channel", class: 'col-sm-2 control-label') %>
                  <div class="col-sm-10">
                    <%= select_tag(:channel, options_for_select(channel_opt),  class:"form-control") %>
                  </div>
                </div>

                <div class='form-group'>
                  <%= label_tag(:location, "Location", class: 'col-sm-2 control-label') %>
                  <div class="col-sm-10">
                    <%= text_field_tag(:location, "", class:"form-control", placeholder:"Bristol", value: 'Leeds') %>
                  </div>
                </div>

                <div class='form-group'>
                  <%= label_tag(:prop_type, "Type", class: 'col-sm-2 control-label') %>
                  <div class="col-sm-10">
                    <%= select_tag(:prop_type, options_for_select(property_types),  class:"form-control") %>
                  </div>
                </div>

                  <h3 class='text-center'>Bedrooms</h3>

                <div class='form-group'>
                  <%= label_tag(:min_bedrooms, "Min", class: 'col-sm-2 control-label') %>
                  <div class="col-sm-10">
                    <%= select_tag(:min_bedrooms, options_for_select(rooms),  class:"form-control") %>
                  </div>
                </div>

                <div class='form-group'>
                  <%= label_tag(:max_bedrooms, "Max", class: 'col-sm-2 control-label') %>
                  <div class="col-sm-10">
                    <%= select_tag(:max_bedrooms, options_for_select(rooms),  class:"form-control") %>
                  </div>
                </div>

                <div class='form-group'>
                  <div class="col-sm-offset-2 col-sm-10">
                    <%= submit_tag 'Search', name: 'search', id: 'search-btn', class:'btn btn-primary col-xs-12' %>
                  </div>
                </div>

              <% end %>
              <!-- End of Form -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='row' id='results'>
  <div class='col-sm-offset-center-1 col-sm-4 props-result'>

  </div>
</div>
