
<% channel_opt =[
  ['Please Select',''],
  ['sales', 'sales'],
  ['lettings', 'lettings']
]

property_types = {
  'Please Select'=>'',
  'house'=>'house',
  'house - semi-detached'=>'house - semi-detached',
  'semi-detached'=>'semi-detached',
  'apartment'=>'apartment',
  'flat'=>'flat',
  'flat/apartment'=>'flat/apartment',
  'detached'=>'detached',
  'detached house'=>'detached house',
  'terrace'=>'terrace',
  'end of terrace house'=>'end of terrace house',
  'studio'=>'studio',
  'bungalow'=>'bungalow'
}

rooms =
{
  # 'Please Select'=>'',
  '0'=> '0',
  '1'=>'1',
  '2'=>'2',
  '3'=>'3',
  '4'=>'4',
  '5'=>'5',
  '6'=>'6',
  '7'=>'7',
  '8+'=>'8'
}


min_rooms ={'Min':''}
min_rooms.merge!(rooms)
max_rooms ={'Max':''}
max_rooms.merge!(rooms)

%>

<div id='home-search-container'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12 searchForm-wrapper'>
        <div class='container-fluid'>
          <div class='row'>
            <div class='col-xs-12 col-sm-offset-1 col-sm-10  col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 col-xl-offset-4 col-xl-4'>
              <h3 class='text-center'>Find your new home</h3>
              <!-- Form --->
              <%= form_tag('/search', method: 'get', id: 'myForm', class: 'form-horizontal') do %>

                <div class='form-group'>
                  <%= label_tag(:channel, "Channel", class: 'col-sm-2 control-label') %>
                  <div class="col-sm-10">
                    <%= select_tag(:channel, options_for_select(channel_opt),  class:"form-control") %>
                  </div>
                </div>

                <div class='form-group'>
                  <%= label_tag(:location, "Location", class: 'col-sm-2 control-label') %>
                  <div class="col-sm-10">
                    <%= text_field_tag(:location, "", class:"form-control", placeholder:"Bristol", value: 'Leeds') %>
                  </div>
                </div>

                  <!-- <h3 class='text-center'>Bedrooms</h3> -->
                <div class='form-group'>
                  <div class='col-sm-2 bedroom-label'>Bedrooms</div>
                  <%= label_tag(:min_bedrooms, "Min", class: 'sr-only control-label') %>
                  <div class="col-sm-5">
                    <%= select_tag(:min_bedrooms, options_for_select(min_rooms),  class:"form-control") %>
                  </div>
                <!-- </div>

                <div class='form-group'> -->
                  <%= label_tag(:max_bedrooms, "Max", class: 'sr-only control-label') %>
                  <div class="col-sm-5">
                    <%= select_tag(:max_bedrooms, options_for_select(max_rooms),  class:"form-control") %>
                  </div>
                </div>
                <!-- <h3 class='text-center'>Price</h3> -->
                <div class='form-group'>
                  <div class='col-sm-2 price-label'>Price</div>
                  <%= label_tag(:min_price, "Min", class: 'sr-only control-label') %>
                  <div class="col-sm-5">
                     <%= number_field_tag(:min_price, nil , class:"form-control", min:0, placeholder:'price from') %>

                  </div>
                <!-- </div>
                <div class='form-group'> -->
                  <%= label_tag(:max_price, "Max", class: 'sr-only control-label') %>
                  <div class="col-sm-5">
                     <%= number_field_tag(:max_price, nil , class:"form-control", min:0, placeholder:'price to') %>
                  </div>
                </div>

                <!-- <div class='form-group'>
                   label_tag(:max_price, "Location", class: 'col-sm-2 control-label')
                  <div class="col-sm-10">
                     text_field_tag(:max_price, "", class:"form-control", placeholder:"Bristol")
                  </div>
                </div> -->

                <!--  [search][max_price]-->
                <div class='form-group'>
                  <div class="col-sm-offset-2 col-sm-10">
                    <%= submit_tag 'Search', name: 'search', id: 'search-btn', class:'btn btn-primary col-xs-12' %>
                  </div>
                </div>

              <% end %>
              <!-- End of Form -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- -->

<!-- Trigger the modal with a button -->


<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button> -->

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><!--Property Address--></h4>
      </div>
      <div class="modal-body">

        <div>

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
            <li role="presentation"><a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Photo</a></li>
            <li role="presentation"><a href="#map-view" aria-controls="map-view" role="tab" data-toggle="tab">MapView</a></li>
            <li role="presentation"><a href="#floor-plan" aria-controls="floor-plan" role="tab" data-toggle="tab">Floor Plans</a></li>
            <li role="presentation"><a href="#agency" aria-controls="agency" role="tab" data-toggle="tab">Agency</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="description">
              <!-- Property description -->
            </div>

            <div role="tabpanel" class="tab-pane" id="photos">
              <div class="row" id='photoCarousel'>
                <!-- Property photos -->
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="map-view">
            </div>
            <div role="tabpanel" class="tab-pane" id="floor-plan">
              <!-- -->
              <div class="row">
                <div class="col-xs-12">
                  <!-- Property Floor plan photos -->
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="agency">
              <!-- agency details -->
            </div>

          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- <div>
  <img src="<%= image_path("loading.gif")%>" id='searchResult' class='loading'>
</div> -->

<!--  Search Results -->
<div class='row' id='results'>
  <div class='col-sm-12 props-result'>
    <!-- <img src="<% image_path("loading.gif")%>" id='searchResult' class='loading'> -->
  </div>
</div>

<style>

/* Property Modal */


/* Description tab */
/* Photos tab */

#slider
{
  margin-bottom:10px;
}


.carousel-inner>.item> img
{
  width:100%;
  /* height:480px; */
}

/* Carousel  styles*/
  .slider-navigation {
    padding:5px;
    text-align: center;
  }

  #slider-thumbs .list-inline li {
    padding: 0px;
    cursor: pointer;
    margin: 5px;
    background:white;
  }


  /* #slider-thumbs .list-inline li
  {
  margin: 5px;
  background:white;
  } */
  /* .slider-nav-arrow {
    text-align: center;
    margin-bottom: 0px;
    visibility: hidden;
  }

  .selected .slider-nav-arrow {
    visibility: visible;
  } */

  .selected .slider-navigation {
    opacity: 0.5;
  }

/* Thumbnails */



/* Map View */
#map-view iframe
{
  width : 100%;
  min-height:300px;
  border:none;
}
/* Floor Plans */


/* Agency */

#agency img { margin:auto; }


</style>
